@model List<Website_ASP.NET_Core_MVC.Areas.Admin.Models.UserRolesViewModel>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Quản lý các vai trò của người dùng</h3>
<hr />
<table class="table table-striped">
	<thead>
		<tr>
			<th>Tên</th>
			<th>Username</th>
			<th>Email</th>
			<th>Vai trò</th>
			@* <th>Số điện thoại</th>
			<th>Giới tính</th>
			<th>Ngày sinh</th>
			<th>Địa chỉ</th>
			<th>Ảnh đại diện</th> *@
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var user in Model)
		{
			<tr>
				<td>@user.FullName</td>
				<td>@user.Username</td>
				<td>@user.Email</td>
				<td>@string.Join(" , ", user.Roles.ToList())</td>
				@* <td>@user.Phone</td>
			<td>@user.Gender</td>
			<td>@user.Date</td>
			<td>@user.Address</td>
			<td>@user.Image</td> *@
				<td>
					<a class="btn btn-primary" asp-area="Admin" asp-controller="UserRoles" asp-action="Manage" asp-route-userId="@user.UserId">Cập nhật vai trò</a>
				</td>
			</tr>
		}
	</tbody>
</table>