@model X.PagedList.IPagedList<Website_ASP.NET_Core_MVC.Areas.Admin.Models.UserViewModel>
@using X.PagedList.Mvc.Core
@using X.PagedList
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css">
@{
	ViewBag.Title = "Tài khoản quản trị";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
	<div class="d-block mb-4 mb-md-0">

		<h2 class="h4">Danh sách tài khoản quản trị</h2>
	</div>
	<div class="btn-toolbar mb-2 mb-md-0">
		<div class="btn-group">
			<button type="button" class="btn btn-sm btn-outline-primary" id="addPopup"><span class="fas fa-plus mr-2"></span>Thêm tài khoản quản trị</button>
		</div>
	</div>
</div>
<div class="table-settings mb-4">
	<div class="row align-items-center justify-content-between">
		<div class="col col-md-6 col-lg-3 col-xl-4">
			<form>
				<div class="input-group">
					<button class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></button>
					<input type="text" class="form-control" name="searchString" value="@ViewBag.searchString" id="exampleInputIconLeft" placeholder="Email" aria-label="Search" aria-describedby="basic-addon2">
				</div>
			</form>
		</div>
	</div>
</div>
<div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Họ và tên</th>
				<th>Email</th>
				<th>Loại tài khoản</th>
				<th>Xác nhận Email</th>
				<th>Khóa tài khoản</th>
				<th>Tùy chọn</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id="row-@item.Id">
					<td>
						<span class="font-weight-normal">@item.FullName</span>
					</td>
					<td><span class="font-weight-normal">@item.Email</span></td>
					<td>@string.Join(" , ", @item.Roles.ToList())</td>
					<td>
						@if (@item.EmailConfirmed == false)
						{
							<span class="font-weight-bold text-danger">Chưa xác nhận</span>
						}
						else
						{
							<span class="font-weight-bold text-success">Đã xác nhận</span>
						}
					</td>
					<td>
						@if (@item.LockoutStatus == "Khóa")
						{
							<span class="font-weight-bold text-danger">@item.LockoutStatus</span>
						}
						else
						{
							<span class="font-weight-bold text-success">@item.LockoutStatus</span>
						}
					</td>
					<td>
						<div class="btn-group">
							<button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="icon icon-sm">
									<span class="fas fa-ellipsis-h icon-dark"></span>
								</span>
								<span class="sr-only">Danh mục lựa chọn</span>
							</button>
							<div class="dropdown-menu">
								<button class="dropdown-item change" onclick="loadData('@item.Id')"><span class="fas fa-edit mr-2"></span>Chỉnh sửa</button>
								<button class="dropdown-item text-danger delete" onclick="deleteData('@item.Id')"><span class="fas fa-trash-alt mr-2"></span>Xóa</button>
							</div>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
		<nav aria-label="Page navigation example">
			<ul class="pagination mb-0">
				@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

				@Html.PagedListPager(Model, page => Url.Action("Index",
									new { page, pageSize = Model.PageSize, searchString = ViewBag.searchString }))
			</ul>
		</nav>
	</div>
</div>

@section Popup {
	<div class="popUp" id="popUp">
		<section class="d-flex align-items-center">
			<div class="container">
				<div class="row justify-content-center form-bg-image" data-background-lg="~/Admin/assets/img/illustrations/signin.svg">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
							<div class="text-center text-md-center mb-4 mt-md-0">
								<h1 class="mb-0 h3 text-popup">Tạo tài khoản quản trị</h1>
							</div>
							<form id="add-form" onsubmit="return themTaiKhoanAdmin()" method="post">
								<!-- Form -->
								@* <div asp-validation-summary="ModelOnly" class="text-danger" role="alert" id="add-message"></div> *@
								<p id="add-message"></p>
								<hr />
								<div class="form-group mb-2">
									<label for="adminAccount">Email</label>
									<div class="input-group">
										<input type="text" class="form-control" name="Email" placeholder="Email" autofocus required>
									</div>
								</div>
								<!-- End of Form -->
								<!-- Form -->
								<div class="form-group mb-2">
									<label for="fullName">Họ và tên</label>
									<div class="input-group">
										<input type="text" class="form-control" name="FullName" placeholder="Họ và tên" required>
									</div>
								</div>
								<!-- End of Form -->
								<!-- Form -->
								<div class="form-group mb-2">
									<label for="optionsAccount">Loại tài khoản</label>
									<div class="input-group" style="display: flex; align-items: center" id="optionsAccount">
										<input type="radio" name="loaitaikhoan" id="statusAdmin" value="true" style="margin-right: 10px" />
										<label for="statusAdmin" style="display: contents;">Người quản trị</label>
										<input type="radio" name="loaitaikhoan" id="statusManage" value="false" checked style="margin: 0 10px 0 20px" />
										<label for="statusManage" style="display: contents">Quản lý</label>
									</div>
								</div>
								<!-- End of Form -->
								<div class="form-group">
									<!-- Form -->
									<div class="form-group mb-2">
										<label for="password">Mật khẩu</label>
										<div class="input-group">
											<input type="password" name="Password" placeholder="Mật khẩu" class="form-control" required>
										</div>
									</div>
									<!-- End of Form -->
									<!-- Form -->
									<div class="form-group mb-2">
										<label for="confirm_password">Xác nhận mật khẩu</label>
										<div class="input-group">
											<input type="password" name="ConfirmPassword" placeholder="Xác nhận mật khẩu" class="form-control" required>
										</div>
									</div>
								</div>
								<button type="submit" class="btn btn-block btn-primary">Đăng ký</button>
								<div class="btn btn-block border-primary cancelPopup" id="cancelPopup">Hủy</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
}

@section changePopup {
	<div class="changePopUp" id="changePopUp">
		<section class=" d-flex align-items-center">
			<div class="container">
				<div class="row justify-content-center form-bg-image" data-background-lg="~/Admin/assets/img/illustrations/signin.svg">
					<div class="col-12 d-flex align-items-center justify-content-center">
						<div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
							<div class="text-center text-md-center mb-4 mt-md-0">
								<h1 class="mb-0 h3 text-popup">Chỉnh sửa tài khoản quản trị</h1>
							</div>
							<form id="update-form" onsubmit="return suaTaiKhoanQuanTri()">
								<p id="update-message"></p>
								<hr />
								<input type="hidden" id="matk" name="Id" value="" />
								<!-- Form -->
								<div class="form-group mb-4">
									<label for="adminAccount">Email</label>
									<div class="input-group">
										<input type="text" name="Email" class="form-control" placeholder="Email" id="email" value="" autofocus required>
									</div>
								</div>
								<!-- End of Form -->
								<!-- Form -->
								<div class="form-group mb-4">
									<label for="fullName">Họ và tên</label>
									<div class="input-group">
										<input type="text" name="FullName" class="form-control" placeholder="Họ và tên" value="" id="fullname" required>
									</div>
								</div>
								<div class="form-group mb-4">
									<label for="optionsAccount">Loại tài khoản</label>
									<div id="roles">
										<!-- Roles checkboxes will be dynamically generated here -->
									</div>
								</div>
								<div class="form-group mb-4">
									<label for="optionsAccount">Xác nhận email</label>
									<div class="input-group" style="display: flex; align-items: center" id="optionsAccount">
										<input type="radio" name="EmailConfirmed" value="true" id="confirmed" style="margin-right: 10px" />
										<label for="actived" class="text-success" style="display: contents;">Đã xác nhận</label>

										<input type="radio" name="EmailConfirmed" value="false" id="notconfirmed" style="margin: 0 10px 0 20px" />
										<label for="blocked" class="text-danger" style="display: contents">Chưa xác nhận</label>
									</div>
								</div>
								<div class="form-group mb-4">
									<label for="optionsAccount">Khóa tài khoản</label>
									<div class="input-group" style="display: flex; align-items: center" id="optionsAccount">
										<input type="radio" name="LockoutStatus" value="Không khóa" id="active" style="margin-right: 10px" />
										<label for="actived" class="text-success" style="display: contents;">Không khóa</label>

										<input type="radio" name="LockoutStatus" value="Khóa" id="blocked" style="margin: 0 10px 0 20px" />
										<label for="blocked" class="text-danger" style="display: contents">Khóa</label>
									</div>
								</div>
								<button type="submit" class="btn btn-block btn-secondary">Chỉnh sửa tài khoản</button>
								<div class="btn btn-block border-primary cancelPopup" id="cancelPopup">Hủy</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
}

@section deletePopup {
	<div class="deletePopUp" id="deletePopUp">
		<section class="vh-lg-100 d-flex align-items-center">
			<div class="container">
				<form>
					<div class="row justify-content-center form-bg-image">
						<div class="col-12 d-flex align-items-center justify-content-center">
							<div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
								<p id="delete-message"></p>
								<h6 class="form-group mb-4 text-center fa-1x">
									Bạn có thể khóa thay vì xóa tài khoản. Bạn đã chắc chắn chưa?
								</h6>
								<input type="hidden" value="" id="delete-adminuser-id" name="id" />
								<div class="row d-flex flex-row">
									<button type="button" class="btn btn-block btn-danger" onclick="xoaTaiKhoan()">Chắc chắn</button>
									<div class="btn btn-block border-primary cancelPopup" id="cancelPopupDel">Hủy</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
}

@section Script {

	<script src="~/Admin/js/addPopUp.js"></script>
	<script src="~/Admin/js/AdminAccount.js"></script>
}