@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@* <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Website_ASP.NET_Core_MVC.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Website_ASP.NET_Core_MVC</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
						</li>
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>

	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - Website_ASP.NET_Core_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
 *@

@*
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
@*     <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
 *@
<!-- Css Styles -->
@*   <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
</head>
 *@
@*<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="#"><img src="img/logo.png" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="humberger__menu__widget">
            <div class="header__top__right__language">
                <img src="img/language.png" alt="">
                <div>English</div>
                <span class="arrow_carrot-down"></span>
                <ul>
                    <li><a href="#">Spanis</a></li>
                    <li><a href="#">English</a></li>
                </ul>
            </div>
            <div class="header__top__right__auth">
                <a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i> Login</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                            <div class="header__top__right__auth">
                                <a asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="./index.html">Home</a></li>
                            <li class="active"><a href="./shop-grid.html">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="./shop-details.html">Shop Details</a></li>
                                    <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                                    <li><a href="./checkout.html">Check Out</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./contact.html">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                        </ul>
                        <div class="header__cart__price">item: <span>$150.00</span></div>
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Product Section Begin -->
    <section class="product spad">
        @RenderBody()
    </section>
    <!-- Product Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New York</li>
                            <li>Phone: +65 11.188.888</li>
                            <li>Email: hello@colorlib.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        <div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/mixitup.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
*@

<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- CSS only -->
	<!-- New bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<!-- JavaScript Bundle with Popper -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<!-- End new bootstrap -->
	<!-- Favicons -->
	<link rel="shortcut icon" rcs="~/Client/img/favicon.ico" />
	<!-- Fontawesome css -->
	<link rel="stylesheet" href="~/Client/css/font-awesome.min.css">
	<!-- Ionicons css -->
	<link rel="stylesheet" href="~/Client/css/ionicons.min.css">
	<!-- linearicons css -->
	<link rel="stylesheet" href="~/Client/css/linearicons.css">
	<!-- Nice select css -->
	<link rel="stylesheet" href="~/Client/css/nice-select.css">
	<!-- Jquery fancybox css -->
	<link rel="stylesheet" href="~/Client/css/jquery.fancybox.css">
	<!-- Jquery ui price slider css -->
	<link rel="stylesheet" href="~/Client/css/jquery-ui.min.css">
	<!-- Meanmenu css -->
	<link rel="stylesheet" href="~/Client/css/meanmenu.min.css">
	<!-- Nivo slider css -->
	<link rel="stylesheet" href="~/Client/css/nivo-slider.css">
	<!-- Owl carousel css -->
	<link rel="stylesheet" href="~/Client/css/owl.carousel.min.css">
	<!-- Bootstrap css -->
	<link rel="stylesheet" href="~/Client/css/bootstrap.min.css">
	<!-- Custom css -->
	<link rel="stylesheet" href="~/Client/css/default.css">
	<!-- Main css -->
	<link rel="stylesheet" href="~/Client/style.css">
	<!-- Responsive css -->
	<link rel="stylesheet" href="~/Client/css/responsive.css">
	<!-- account css -->
	<link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />

	<!-- Modernizer js -->
	<script src="~/Client/js/vendor/modernizr-3.5.0.min.js"></script>

</head>

<body>
	<div class="wrapper">
		<header>
			<!-- Header Top Start Here -->
			<div class="header-top-area">
				<div class="container">
					<!-- Header Top Start -->
					@if (!SignInManager.IsSignedIn(User))
					{
						<div class="header-top">
							<ul>
							</ul>
							<ul>
								<li>
									<a href="#">Tài khoản<i class="lnr lnr-chevron-down"></i></a>
									<!-- Dropdown Start -->
									<ul class="ht-dropdown">
										<li>
											<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Đăng nhập</a>
										</li>
										<li>
											<a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Đăng ký</a>
										</li>
									</ul>
									<!-- Dropdown End -->
								</li>
							</ul>
						</div>
					}
					<!-- Header Top End -->
				</div>
				<!-- Container End -->
			</div>
			<!-- Header Top End Here -->
			<!-- Header Middle Start Here -->
			<div class="header-middle ptb-15">
				<div class="container">
					<div class="row align-items-center no-gutters">
						<div class="col-lg-3 col-md-12">
							<div class="logo mb-all-30">
								<a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Client/img/logo/logo.png" alt="logo-image"></a>
							</div>
						</div>
						<!-- Categorie Search Box Start Here -->
						@{
							//Html.RenderAction("SearchBox", "Home");
							@await Component.InvokeAsync("SearchBox")
						}
						<!-- Categorie Search Box End Here -->
						<!-- Cart Box Start Here -->
						<div class="col-lg-4 col-md-12">
							<div class="cart-box mt-all-30">
								<ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
									@if (SignInManager.IsSignedIn(User))
									{
										// Retrieve the current user asynchronously
										var currentUser = await UserManager.GetUserAsync(User);
										<li>
											<!-- Cho nay da thay doi them click -->
											<a href="#" class="dropdown-toggle" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
												<img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Circle-icons-profile.svg" class="rounded-circle" alt="avt" style="width: 35px">
												<span><strong style="font-size: 12px;">@currentUser.FullName</strong></span>
											</a>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
												<li>@Html.ActionLink("Đơn hàng của bạn", "ListBills", "Bill", null, new { @class = "dropdown-item" })</li>
												<li>@Html.ActionLink("Thông tin tài khoản", "UserInfor", "AccountUser", new { id = currentUser.Id }, new { @class = "dropdown-item" })</li>
												<li>@Html.ActionLink("Đổi mật khẩu", "ChangePassWord", "AccountUser", null, new { @class = "dropdown-item" })</li>
												<li><a class="dropdown-item" href="@Url.Action("Logout","Home")">Đăng xuất</a></li>
											</ul>
										</li>
									}
									<li>
										@{
											//Html.RenderAction("CartCount", "Home");
											@await Component.InvokeAsync("CartCount")
										}
									</li>
								</ul>
							</div>
						</div>
						<!-- Cart Box End Here -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<!-- Header Middle End Here -->
			<!-- Header Bottom Start Here -->
			<div class="header-bottom  header-sticky">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-xl-3 col-lg-4 col-md-6 vertical-menu d-none d-lg-block">
							<span class="categorie-title">Danh mục </span>
						</div>
						<div class="col-xl-9 col-lg-8 col-md-12 ">
							<nav class="d-none d-lg-block">
								<ul class="header-bottom-list d-flex">
									<li class="active">
										@Html.ActionLink("Trang chủ", "Index", "Home")
										<!-- Home Version Dropdown Start -->
										<!-- Home Version Dropdown End -->
									</li>
									<li>
										<a href="@Url.Action("Shop","Product")">Sản phẩm<i class="fa fa-angle-down"></i></a>
										<!-- Home Version Dropdown Start -->
										<ul class="ht-dropdown dropdown-style-two">
											@{
												//Html.RenderAction("DropdownCategories", "Home");
												@await Component.InvokeAsync("DropdownCategories")
											}
										</ul>
										<!-- Home Version Dropdown End -->
									</li>

								</ul>
							</nav>
							<div class="mobile-menu d-block d-lg-none">
								<nav>
									<ul>
										<li>
											@Html.ActionLink("Trang chủ", "Index", "Home")
											<!-- Home Version Dropdown Start -->
											<!-- Home Version Dropdown End -->
										</li>
										<li>
											<a href="@Url.Action("Shop","Product")">Sản phẩm</a>
											<!-- Mobile Menu Dropdown Start -->
											<ul>
												@{
													//Html.RenderAction("DropdownCategories", "Home");
													@await Component.InvokeAsync("DropdownCategories")
												}
											</ul>
											<!-- Mobile Menu Dropdown End -->
										</li>


									</ul>
								</nav>
							</div>
						</div>
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<!-- Header Bottom End Here -->
			<!-- Mobile Vertical Menu Start Here -->
			<div class="container d-block d-lg-none">
				<div class="vertical-menu mt-30">
					<span class="categorie-title mobile-categorei-menu">Danh mục</span>
					<nav>
						<div id="cate-mobile-toggle" class="category-menu sidebar-menu sidbar-style mobile-categorei-menu-list menu-hidden ">
							<ul>
								@{
									// Html.RenderAction("DropdownCategories", "Home");
									@await Component.InvokeAsync("DropdownCategories")
								}
							</ul>
						</div>
						<!-- category-menu-end -->
					</nav>
				</div>
			</div>
			<!-- Mobile Vertical Menu Start End -->
		</header>
		<!-- Main Header Area End Here -->
		<!-- Categorie Menu & Slider Area Start Here -->
		<div class="main-page-banner pb-50 off-white-bg">
			<div class="container">
				<div class="row">
					<!-- Vertical Menu Start Here -->
					<div class="col-xl-3 col-lg-4 d-none d-lg-block">
						<div class="vertical-menu mb-all-30">
							<nav>
								<ul class="vertical-menu-list" style="display:
									@(ViewContext.RouteData.Values["Action"]?.ToString() == "Index" ? "block" : "none")">


									@{
										//Html.RenderAction("DropdownCategories", "Home");
										@await Component.InvokeAsync("DropdownCategories")
									}
									@if (ViewContext.RouteData.Values["Action"]?.ToString() == "Index")
									{
										<li><a><span></span></a></li>
										<li><a><span></span></a></li>
										<li><a><span></span></a></li>
										<li><a><span></span></a></li>
										<li><a><span></span></a></li>
										<li><a><span></span></a></li>
									}
									<!-- More Categoies End -->
								</ul>
							</nav>
						</div>
					</div>
					<!-- Vertical Menu End Here -->
					@RenderSection("Slide", required: false)
				</div>
				<!-- Row End -->
			</div>
			<!-- Container End -->
		</div>
		<!-- Categorie Menu & Slider Area End Here -->

		<div class="container">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>

		<div class="support-area bdr-top">
			<div class="container">
				<div class="d-flex flex-wrap text-center">
					<div class="single-support">
						<div class="support-icon">
							<i class="lnr lnr-gift"></i>
						</div>
						<div class="support-desc">
							<h6>Mang lại giá trị thực</h6>
							<span>Chúng tôi luôn mang lại cho bạn những giá trị</span>
						</div>
					</div>
					<div class="single-support">
						<div class="support-icon">
							<i class="lnr lnr-rocket"></i>
						</div>
						<div class="support-desc">
							<h6>Ship mọi nơi</h6>
							<span>Shipping mọi nơi trên mảnh đất hình chữ S</span>
						</div>
					</div>
					<div class="single-support">
						<div class="support-icon">
							<i class="lnr lnr-lock"></i>
						</div>
						<div class="support-desc">
							<h6>An toàn</h6>
							<span>Thanh toán trực tiếp an toàn</span>
						</div>
					</div>
					<div class="single-support">
						<div class="support-icon">
							<i class="lnr lnr-enter-down"></i>
						</div>
						<div class="support-desc">
							<h6>Độ uy tín</h6>
							<span>Shop với 10 năm hoạt động có độ uy tín cao</span>
						</div>
					</div>
					<div class="single-support">
						<div class="support-icon">
							<i class="lnr lnr-users"></i>
						</div>
						<div class="support-desc">
							<h6>Hỗ trợ 24/7</h6>
							<span>Luôn luôn hỗ trợ khách hàng 24/7</span>
						</div>
					</div>
				</div>
			</div>
			<!-- Container End -->
		</div>
		<!-- Support Area End Here -->
		<!-- Footer Area Start Here -->
		<footer class="off-white-bg2 pt-95 bdr-top pt-sm-55">
			<!-- Footer Top Start -->
			<!-- Footer Top End -->
			<!-- Footer Middle Start -->
			<div class="footer-middle text-center">
				<div class="container">
					<div class="footer-middle-content pt-20 pb-30">
						<ul class="social-footer">
							<li><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
							<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
							<li><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
							<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
							<li><a href="#"><img src="~/Client/img/icon/social-img1.png" alt="google play"></a></li>
							<li><a href="#"><img src="~/Client/img/icon/social-img2.png" alt="app store"></a></li>
						</ul>
					</div>
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Middle End -->
			<!-- Footer Bottom Start -->
			<div class="footer-bottom pb-30">
				<div class="container">

					<div class="copyright-text text-center">
						<p>Copyright © 2021 <a target="_blank" href="#">MVC NHOM 9</a></p>
					</div>
				</div>
				<!-- Container End -->
			</div>
			<!-- Footer Bottom End -->
		</footer>
		<!-- Footer Area End Here -->
		<!-- Quick View Content Start -->
		<div class="main-product-thumbnail quick-thumb-content">
			<div class="container">
				<!-- The Modal -->
				<div class="modal fade" id="myModal">
					<div class="modal-dialog modal-lg modal-dialog-centered">
						<div class="modal-content">
							<!-- Modal Header -->
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<form action="#">
								<!-- Modal body -->
								<div class="modal-body">
									<div class="row">
										<!-- Main Thumbnail Image Start -->
										<div class="col-lg-5 col-md-6 col-sm-5">
											<!-- Thumbnail Large Image start -->
											<div class="tab-content">
												<div id="thumb1" class="tab-pane fade show active">
													<a data-fancybox="images" id="modal-a-hinhanh" href=""><img src="" id="modal-hinhanh" alt="product-view"></a>
												</div>
											</div>
											<!-- Thumbnail Large Image End -->
											<!-- Thumbnail Image End -->
										</div>
										<!-- Main Thumbnail Image End -->
										<!-- Thumbnail Description Start -->
										<div class="col-lg-7 col-md-6 col-sm-7">
											<div class="thubnail-desc mt-sm-40">
												<h3 class="product-header" id="modal-tensp"></h3>
												<p style="opacity: .8;">Danh mục : <span id="modal-danhmuc"></span></p>
												<div class="pro-price mtb-10">
													<p class="d-flex align-items-center"><span class="price" id="modal-gia"></span></p>
												</div>
												<div class="product-size mb-10 clearfix">
													<label>Size</label>
													<select class="" id="modal-kichco-soluong">
														@{
															//Html.RenderAction("SelectOptionSize", "Home");
															@await Component.InvokeAsync("SelectOptionSize")
														}
													</select>
												</div>
												<div class="color mb-10">
													<label>Màu</label>
													<input type="color" id="modal-mamau" disabled />
												</div>
												<div class="box-quantity d-flex mt-10">
													<input class="quantity mr-40" id="modal-soluong" type="number" min="1" value="1">
													<button class="add-cart" type="button" onclick="themVaoGioHang()" id="order-text">Thêm vào giỏ</button>
												</div>

											</div>
										</div>
										<!-- Thumbnail Description End -->
									</div>
								</div>
								<!-- Modal footer -->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Quick View Content End -->
	</div>
	<!-- Main Wrapper End Here -->
	<!-- jquery 3.2.1 -->
	<script src="~/Client/js/vendor/jquery-3.2.1.min.js"></script>
	<!-- Countdown js -->
	<script src="~/Client/js/jquery.countdown.min.js"></script>
	<!-- Mobile menu js -->
	<script src="~/Client/js/jquery.meanmenu.min.js"></script>
	<!-- ScrollUp js -->
	<script src="~/Client/js/jquery.scrollUp.js"></script>
	<!-- Nivo slider js -->
	<script src="~/Client/js/jquery.nivo.slider.js"></script>
	<!-- Fancybox js -->
	<script src="~/Client/js/jquery.fancybox.min.js"></script>
	<!-- Jquery nice select js -->
	@*<script src="~/Client/js/jquery.nice-select.min.js"></script>*@
	<!-- Jquery ui price slider js -->
	<script src="~/Client/js/jquery-ui.min.js"></script>
	<!-- Owl carousel -->
	<script src="~/Client/js/owl.carousel.min.js"></script>
	<!-- Bootstrap popper js -->
	<script src="~/Client/js/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="~/Client/js/bootstrap.min.js"></script>
	<!-- Plugin js -->
	<script src="~/Client/js/plugins.js"></script>
	<!-- Main activaion js -->
	<script src="~/Client/js/sweetalert.min.js"></script>
	<script src="~/Client/js/main.js"></script>
	<script src="~/Client/js/common.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>